{{>layout/header}}

<body>
<div class="wrapper">
    {{>layout/body-header}}

    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        {{>layout/body-left}}

                        <!-- posts start -->
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="posts-section">
                                    <div class="post-bar">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                <div class="usy-name">
                                                    <span><img src="/images/clock.png"
                                                               alt="">{{article.registrationDateTime}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job_descp">
                                            <h3>{{article.title}}</h3>
                                            {{{article.htmlContent}}}
                                            <p></p>
                                            <ul class="skill-tags">
                                                <li><a href="#" title="">{{article.articleTypeName}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="job-status-bar">
                                            <ul class="like-com">
                                                <li>
                                                    <a href="#"><i class="la la-heart"></i> Like {{article.likes}}</a>
                                                </li>
                                                <li>
                                                    <a><i class="la la-eye"></i>Views {{article.views}}</a>
                                                </li>
                                            </ul>
                                            <a><i class="la la la-bookmark"></i></a>
                                        </div>
                                    </div><!--post-bar end-->
                                </div><!--posts-section end-->
                            </div><!--main-ws-sec end-->
                        </div>

                        {{>layout/body-right}}

                    </div>
                </div><!-- main-section-data end-->
            </div>
        </div>
    </main>
</div><!--theme-layout end-->

{{>layout/js}}
</body>

{{>layout/footer}}