{{>layout/header}}

<body>
<div class="wrapper">
    {{>layout/body-header}}
    <div class="m-category">
        <a class="m-category-item" href="/">전체</a>
        <a class="m-category-item active" href="/hot">인기</a>
        <a class="m-category-item" href="/recruit">취업</a>
    </div>
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        {{>layout/body-left}}

                        <!-- posts start -->
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="posts-section" id="posts-section">
                                    {{>articles}}
                                </div><!--posts-section end-->
                            </div><!--main-ws-sec end-->
                        </div>

                        {{>layout/body-right}}

                    </div>
                </div><!-- main-section-data end-->
            </div>
        </div>
    </main>
</div><!--theme-layout end-->

{{>layout/js}}
</body>

{{>layout/footer}}