{{>layout/header}}
<body class="sign-in">
<div class="wrapper">
    <div class="sign-in-page">
        <div class="signin-popup">
            <div class="signin-pop">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cmp-info">
                            <div class="cm-logo">
                                <img src="/images/cm-logo.png" alt="">
                                <p>창천향로 (jojoldu)가 매일 엄선해서 전하는 주니어 개발자를 위한 뉴스</p>
                            </div><!--cm-logo end-->
                            <img src="/images/cm-main-img.png" alt="">
                        </div><!--cmp-info end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="login-sec">
                            <div class="sign_in_sec current" id="tab-1">
                                <div class="login-resources">
                                    <ul>
                                        <li><a href="#" title="" class="github"><i class="fa fa-github"></i>Login Via Github</a></li>
                                    </ul>
                                </div><!--login-resources end-->
                            </div><!--sign_in_sec end-->
                        </div><!--login-sec end-->
                    </div>
                </div>
            </div><!--signin-pop end-->
        </div><!--signin-popup end-->
    </div><!--sign-in-page end-->


</div><!--theme-layout end-->

{{>layout/js}}
</body>

{{>layout/footer}}