files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            AGENT_ID=`hostname`
            APP_NAME=devbeginner-news-web
            JAR_PATH=/var/app/current/application.jar
            JVM_OPTS="-XX:+UseG1GC -verbose:gc -Xloggc:/var/app/current/logs/$APP_NAME/gc.log"
            OAUTH_OPTS="--spring_security_oauth2_client_registration_github_client-id=${CLIENT-ID} --spring.security.oauth2.client.registration.github.client-secret=${CLIENT-SECRET}"
            killall java
            exec java $JVM_OPTS -Dfile.encoding=UTF-8 -jar $JAR_PATH $OAUTH_OPTS