files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            AGENT_ID=`hostname`
            APP_NAME=devbeginner-news-web
            JAR_PATH=/var/app/current/application.jar
            JVM_OPTS="-XX:+UseG1GC -verbose:gc -Xloggc:/var/app/current/logs/$APP_NAME/gc.log"
            CLIENT-ID=
            CLIENT-SECRET=
            OAUTH_OPTS="-Dspring_security_oauth2_client_registration_github_client-id=${CLIENT-ID} -Dspring.security.oauth2.client.registration.github.client-secret=${CLIENT-SECRET}"
            killall java
            echo ">>>>>>>>>>>> CLIENT-ID=${CLIENT-ID} CLIENT-SECRET=${CLIENT-SECRET}"
            exec java $JVM_OPTS -Dfile.encoding=UTF-8 -jar $OAUTH_OPTS $JAR_PATH
container_commands:
  001-command:
      command: sed -i "s/CLIENT-ID=/CLIENT-ID=${CLIENT-ID}/g" /sbin/appstart
  002-command:
      command: sed -i "s/CLIENT-SECRET=/CLIENT-SECRET=${CLIENT-SECRET}/g" /sbin/appstart