<!DOCTYPE HTML>
<html>
<head>
    <title>초보개발자모임 뉴스피드 어드민</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>페이스북 어드민</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/oauth2/authorization/facebook" class="btn btn-success active" role="button">Facebook Login</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>