<div class="col-lg-3">
    <div class="right-sidebar">
        <div class="widget widget-about">
            <h3>구글 광고</h3>
        </div><!--widget-about end-->
        <div class="widget widget-jobs">
            <div class="sd-title">
                <h3>Top News</h3>
            </div>
            <div class="jobs-list">
                <div class="job-info">
                    <div class="job-details">
                        <h3>초개모 탑뉴스1</h3>
                        <p>이거안되나요..</p>
                    </div>
                    <div class="hr-rate">
                        <span>2019.07.17</span>
                    </div>
                </div><!--job-info end-->
            </div><!--jobs-list end-->
        </div><!--widget-jobs end-->
        <div class="widget widget-about">
            <h3>구글 광고2</h3>
        </div><!--widget-about end-->
    </div><!--right-sidebar end-->
</div>