<header>
    <div class="container">
        <div class="header-data row">
            <div class="logo">
                <a href="/" title=""><img src="/images/logo.png" alt=""></a>
            </div>
            <div class="undo-btn">
                <a href="javascript:;" title=""><i class="fa fa-undo"></i></a>
            </div>
            <div class="search-bar">
                <form>
                    <input type="text" name="search" placeholder="Search...">
                    <button type="button" href="/search"><i class="la la-search"></i></button>
                </form>
            </div><!--search-bar end-->
            <nav>
                <ul>
                    <li>
                        <a href="/" title="home">
                            전체
                        </a>
                    </li>
                    <li>
                        <a href="/hot" title="hot">
                            인기
                        </a>
                    </li>
                    <li>
                        <a href="/recruit" title="recruit">
                            취업
                        </a>
                    </li>
                    <li>
                        <a href="/tech" title="tech">
                            기술
                        </a>
                    </li>
                </ul>
            </nav><!--nav end-->
            <div class="menu-btn">
                <a href="javascript:;" title=""><i class="fa fa-bars"></i></a>
            </div><!--menu-btn end-->
<!--            <div class="user-account">-->
<!--                <div class="user-account-settings">-->
<!--                    <h3>이동욱님</h3>-->
<!--                    <h4>Setting</h4>-->
<!--                    <h4 class="tc"><a href="/logout" title="">Logout</a></h4>-->
<!--                </div>&lt;!&ndash;user-account-settings end&ndash;&gt;-->
<!--            </div>-->
        </div>

    </div><!--header-data end-->
    </div>
</header><!--header end-->