<!-- lib -->
<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/popper.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="/js/lib/slick.min.js"></script>
<script type="text/javascript" src="/js/lib/scrollbar.js"></script>
<script type="text/javascript" src="/js/lib/script.js"></script>

<!-- app -->
<script type="text/javascript" src="/js/app/header.js"></script>
<script type="text/javascript" src="/js/app/app.js"></script>